.blogPostContainer {
    padding: 10px;
    transition: var(--transition-timers);
    border: var(--border-width) solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: var(--sep-distance-primary);
}
.blogPostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogPostTitle {
    font-size: 2em;
    cursor: pointer;
}
.blogPostBody {
    font-size: 1.2em;
    line-height: 1.6;
}
.blogPostTime {
    transition: var(--transition-timers);
    font-size: 0.9em;
    color: var(--disabled-color);
    margin-bottom: 10px;
}
.fadeScroll {
    position: relative;
    height: 300px;

    overflow: hidden;
    overscroll-behavior: contain;
}

.fadeScrollInner {
    height: 100%;
    overflow-y: auto;

    padding-right: 1rem;
    padding-top: 16px;

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        black 32px,
        black calc(100% - 32px),
        transparent
    );
    mask-image: linear-gradient(
        to bottom,
        transparent,
        black 32px,
        black calc(100% - 32px),
        transparent
    );
}

.fadeScrollInner::-webkit-scrollbar {
    width: 8px;
}

.fadeScrollInner::-webkit-scrollbar-track {
    background: transparent;
}

.fadeScrollInner::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 4px;
}

.fadeScrollInner::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.fadeScrollInner {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
}

