.blogPostContainer {
    padding: 10px;
    border: var(--border-width) solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: var(--sep-distance-primary);
}
.blogPostTitle {
    font-size: 2em;
}
.blogPostBody {
    font-size: 1.2em;
    line-height: 1.6;
}
.blogPostTime {
    transition: var(--transition-timers);
    font-size: 0.9em;
    color: var(--disabled-color);
    margin-bottom: 10px;
}
.blogLink {
    transition: var(--transition-timers);
    text-decoration: none;
    color: var(--primary-color);
}
.blogLink:hover {
    color: var(--secondary-color);
}