[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  port = 8080

[functions]
  node_bundler = "esbuild"
  included_files = ["./src/shengji/core/game.ts"]