.cellDemoWrapper {
    padding: 0 5%;
}
.cellControls {
    background: var(--bg-color-primary);
    color: var(--primary-color);
    transition: var(--transition-timers);
    border-radius: var(--table-border-radius-secondary);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.cellControlsSliders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cellButton {
    width: 100%;
}
.cellOptionButtonRow {
    display: flex;
    justify-content: center;
}
.cellOptionLabel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cellOptionButton {
    border: var(--border-width) solid var(--bg-color-primary);
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
}