.cellDemoWrapper {
    padding: 0 5%;
}
.cellControls {
    background: var(--bg-color-primary);
    color: var(--primary-color);
    transition: var(--transition-timers);
    border-radius: var(--table-border-radius-secondary);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.cellControlsSliders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cellButton {
    width: 100%;
}
