/* TODO: add styling */
.colorDemoWrapper {
    padding: 0 5%;
}
.colorControls {
    background: var(--bg-color-primary);
    color: var(--primary-color);
    transition: var(--transition-timers);
    border-radius: var(--table-border-radius-secondary);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.colorInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.colorLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    white-space: nowrap;
}
.colorButton {
    width: 100%;
}