.fractalDemoWrapper {
    padding: 0 5%;
}
.fractalControls {
    background: var(--bg-color-primary);
    color: var(--primary-color);
    transition: var(--transition-timers);
    border-radius: var(--table-border-radius-secondary);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.fractalControlsSliders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.fractalDemoLabel {
    margin-right: var(--sep-distance-secondary);
}
.fractalDemoSelect {
    
}

