.genericButton {
    border: none;
    background-color: var(--bg-color-primary) !important;
    color: var(--primary-color) !important;
    transition: var(--transition-timers) !important;
}

.genericIcon {
    transition: var(--transition-timers);
}

.genericButton:hover .genericIcon.fa-regular {
  color: var(--icon-hover-color);
}

.genericIcon.fa-solid {
  color: var(--icon-active-color);
}