.experimentDemoWrapper {
    padding: 0 5%;
}
.experimentControlsWrapper {
    width: 100%;

    color: var(--primary-color);
    background: var(--bg-color-primary);
    
    border: 1px solid var(--primary-color);
    border-radius: var(--table-border-radius-secondary);
    
    transition: var(--transition-timers);
}
.experimentControls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


