.customSelect {
    position: relative;
    display: inline-block;
}

.customSelectSelected {
    text-align: left;
    transition: var(--transition-timers);
    cursor: pointer;
    padding: var(--padding-dropdown);
    background-color: transparent;
    border: var(--border-width) solid var(--primary-color);
    border-radius: var(--table-border-radius-secondary);
    user-select: none;
}

.customSelectSelected:hover {
    background-color: var(--bg-color-hover);
}

.customSelectArrow {
    float: right;
    margin-left: 0.5em;
}

.customSelectOptions {
    transition: var(--dropdown-timers);
    opacity: 0;
    padding: 0px;
    transform: translateY(-10px);
    display: block;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    overflow-y: auto;
    background: var(--bg-color-secondary);
    z-index: 127;
    border-radius: var(--table-border-radius-secondary);
    box-shadow: 2px 2px 2px 2px var(--bg-color-primary);
}

.customSelectOptions.right {
    right: 0;
    left: auto;
}

.customSelectOptions.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.customSelectOption {
    transition: var(--transition-timers);
    padding: var(--padding-dropdown);
    cursor: pointer;
    margin: 4px;
    border-radius: inherit;
    white-space: nowrap;
    text-align: left;
}

.customSelectOption:hover,
.customSelectOption.selected {
    background: var(--bg-color-hover);
}

.customSelectLabelR {
    margin-right: var(--sep-distance-secondary);
}

.customSelectLabelL {
    margin-left: var(--sep-distance-secondary);
}