.blogAppContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    overflow-anchor: none;
}
.blogPagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.blogPaginationButton {
    color: var(--primary-color);
    background-color: var(--bg-color-primary);
    border: 1px solid var(--bg-color-primary);
    border-radius: var(--table-border-radius-secondary);
    transition: var(--transition-timers);
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
}
.blogPaginationButton:hover {
    border-color: var(--primary-color);
    background-color: var(--bg-color-hover);
}
.blogPaginationButton.active {
    color: var(--primary-color) !important;
    border-color: var(--primary-color);
}
.blogPaginationButton.disabled {
    color: var(--disabled-color) !important;
    cursor: default;
}
.blogPaginationButton.disabled:hover {
    color: var(--disabled-color) !important;
    background-color: var(--bg-color-primary) !important;
    border-color: var(--bg-color-primary) !important;
}
.blogLengthLabel {
    margin-left: 0.5em;
}
.blogLengthMenu {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
}
.blogLength {

}
.blogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.blogSort {

}
.blogSortMenu {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
}
.blogSortLabel {
    margin-right: 0.5em;
}