.blogAppContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    overflow-anchor: none;
}
.blogLengthLabel {
    margin-left: 0.5em;
}
.blogLengthMenu {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
}
.blogLength {

}
.blogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.blogSort {

}
.blogSortMenu {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
}
.blogSortLabel {
    margin-right: 0.5em;
}