.blogAppContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--sep-distance-primary);
    overflow-anchor: none;
}
.blogLengthLabel {
    margin-left: var(--sep-distance-secondary);
}
.blogLengthMenu {
    border: var(--border-width) solid var(--primary-color);
    border-radius: var(--table-border-radius-secondary);
    background-color: transparent;
    color: inherit;
}
.blogLength {

}
.blogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--sep-distance-primary);
}
.blogSortDirectionBtn{
    transition: var(--transition-timers);
    background: transparent;
    border: var(--border-width) solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: var(--padding-dropdown);
    border-radius: var(--table-border-radius-secondary);
    margin-right: var(--sep-distance-primary);
}
.blogSortDirectionBtn:hover {
    background-color: var(--bg-color-hover);
    color: var(--primary-color);
}
.blogSort {

}
.blogSortMenu {
    border: var(--border-width) solid var(--primary-color);
    border-radius: var(--table-border-radius-secondary);
    background-color: transparent;
    color: inherit;
}
.blogSortLabel {
    margin-right: var(--sep-distance-secondary);
}