.blogPostContainer {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blogPostTitle {
    font-size: 2em;
}
.blogPostBody {
    font-size: 1.2em;
    line-height: 1.6;
}
.blogPostTime {
    transition: var(--transition-timers);
    font-size: 0.9em;
    color: var(--disabled-color);
    margin-bottom: 10px;
}