.cellDemoWrapper {
    padding: 0 5%;
}
.cellControls {
    background: var(--bg-color-primary);
    color: var(--primary-color);
    transition: var(--transition-timers);
    border-radius: var(--table-border-radius-secondary);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.cellControlsSliders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cellButton {
    transition: var(--transition-timers);
    background: transparent;
    border: var(--border-width) solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    padding: var(--padding-dropdown);
    border-radius: var(--table-border-radius-secondary);
}
.cellButton:hover {
    background-color: var(--bg-color-hover);
    color: var(--primary-color);
}

