.genericButton {
    border: none;
    background-color: var(--bg-color-primary) !important;
    color: var(--primary-color) !important;
    transition: var(--transition-timers) !important;
}
.genericIcon {
    color: var(--primary-color);
    transition: color 0.3s;
}

.genericIcon.fa-regular:hover {
  color: var(--icon-hover-color, currentColor);
}

.genericIcon.fa-solid {
  color: var(--icon-active-color, currentColor);
}