.dropdown-menu {
  background-color: var(--bg-color-secondary);
  color: var(--primary-color);
}

.dropdown-menu .dropdown-item {
  color: var(--primary-color);
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--bg-color-hover);
}

.navbar {
  transition: var(--transition-timers);
  background-color: var(--bg-color-secondary);
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .navbar-toggler,
.navbar .btn {
  transition: var(--transition-timers);
  color: var(--primary-color);
  pointer-events: auto;
}

.navbar-wrapper {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 127;
  pointer-events: none;
}

.navbar-custom {
  margin: var(--sep-distance-primary);
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.navbar-logo,
.navbar-icon {
  width: clamp(32px, 36px, 40px);
  height: auto;
}

.nav-item .custom-select__selected {
  border: none !important;
  padding: 8px !important;
  pointer-events: auto;
  background: transparent !important;
}

.navbar-toggler {
  margin-left: auto;
  margin-right: auto;
  outline: none;
}