.particleDemoWrapper {
    padding: 0 5%;
}
.particleControls {
    background: var(--bg-color-primary);
    color: var(--primary-color);
    transition: var(--transition-timers);
    border-radius: var(--table-border-radius-secondary);
    border: 1px solid var(--primary-color);
    width: 100%;
}
.particleControlsSliders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.particleSliderLabel {
    transition: var(--transition-timers);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    white-space: nowrap;
}

.particleButton {
    transition: var(--transition-timers);
    background: transparent;
    border: var(--border-width) solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: var(--padding-dropdown);
    border-radius: var(--table-border-radius-secondary);
}
.particleButton:hover {
    background-color: var(--bg-color-hover);
    color: var(--primary-color);
}

.particleSliderLabel.disabled {
    color: var(--disabled-color);
}

.disabled .particleSlider {
    cursor: pointer;
    pointer-events: none;
}

