.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select__selected {
    transition: var(--transition-timers);
    cursor: pointer;
    padding: var(--padding-dropdown);
    background-color: var(--bg-color-primary);
    border: var(--border-width) solid var(--primary-color);
    border-radius: var(--table-border-radius-secondary);
    user-select: none;
}

.custom-select__selected:hover {
    background-color: var(--bg-color-hover);
}

.custom-select__arrow {
    float: right;
    margin-left: 0.5em;
}

.custom-select__options {
    transition: var(--dropdown-timers);
    opacity: 0;
    padding: 0px;
    transform: translateY(-10px);
    display: block;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    overflow-y: auto;
    background: var(--bg-color-secondary);
    z-index: 127;
    border-radius: var(--table-border-radius-secondary);
    box-shadow: 2px 2px 2px 2px var(--bg-color-primary);
}

.custom-select__options.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-select__option {
    transition: var(--transition-timers);
    padding: var(--padding-dropdown);
    cursor: pointer;
    margin: 4px;
    border-radius: inherit;
    text-align: left;
}

.custom-select__option:hover,
.custom-select__option.selected {
    background: var(--bg-color-hover);
}
