.pagination {
    display: flex;
    justify-content: center;
    margin-top: var(--sep-distance-primary);
}
.paginationButton {
    border: var(--border-width) solid var(--bg-color-primary);
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
}

.paginationEllipsis {
    
}