:root {
  --primary-color: #252525;
  --secondary-color: #898989;
  --bg-color-primary: #f9f5f1;
  --bg-color-secondary: #fffbf7; /* new */
  --bg-color-hover: #faf4ee;
  --disabled-color: rgba(0, 0, 0, 0.5);
  --table-border-radius-primary: 20px;
  --table-border-radius-secondary: 3px;
  --dropdown-timers: opacity 0.3s linear, transform 0.3s linear;
  --transition-timers: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
  --sep-distance-primary: 20px;
  --sep-distance-secondary: 8px;
  --padding-dropdown: 4px 8px;
  --border-width: 1px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #9b9b9b;
  --bg-color-primary: #212529;
  --bg-color-secondary: #343a40;
  --bg-color-hover: #4f5357;
  --disabled-color: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--bg-color-primary) !important;
  color: var(--primary-color) !important;
  transition: var(--transition-timers) !important;
}
