:root {
	/* text colors */
    --primary-color: #252525;
    --secondary-color: #898989;
    --disabled-color: rgba(0, 0, 0, 0.5);
	/* background colors */
    --bg-color-primary: #f9f5f1;
    --bg-color-secondary: #fffbf7; /* new */
    --bg-color-hover: #faf4ee;
	/* border radii */
	--table-border-radius-primary: 20px; /* also button radius lol */
    --table-border-radius-secondary: 3px;
	/* slider colors */
    --slider-filled-color: var(--primary-color);
    --slider-bg-color: var(--bg-color-hover);
    --slider-thumb-color: var(--primary-color);
	/* slider radii */
    --slider-thumb-radius: 16px;
    --slider-border-radius: 8px;
	/* transition timers */
    --dropdown-timers: opacity 0.3s linear, transform 0.3s linear;
    --transition-timers: background-color 0.3s linear, color 0.3s linear, border-color 0.3s linear;
	/* spacing (blog) */
    --sep-distance-primary: 20px;
    --sep-distance-secondary: 8px;
	/* other */
    --padding-dropdown: 4px 8px;

    --border-width: 1px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
	/* text colors */
	--primary-color: #ffffff;
	--secondary-color: #9b9b9b;
	--disabled-color: rgba(255, 255, 255, 0.5);
	/* background colors */
	--bg-color-primary: #212529;
	--bg-color-secondary: #343a40;
	--bg-color-hover: #4f5357;
}

body {
	color: var(--primary-color) !important;
  	background-color: var(--bg-color-primary) !important;
  	transition: var(--transition-timers) !important;
}

button {
	color: var(--primary-color);
	background: transparent;
	border: var(--border-width) solid var(--primary-color);
	border-radius: var(--table-border-radius-secondary) !important;
	transition: var(--transition-timers);
	padding: var(--padding-dropdown);
	cursor: pointer;
}

button:hover {
	color: var(--primary-color);
 	background-color: var(--bg-color-hover);
  	border-color: var(--primary-color);
}

button.active {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

button.disabled, button:disabled {
	color: var(--disabled-color);
	background-color: var(--bg-color-primary);
	border-color: var(--bg-color-primary);
	cursor: default;
}

a {
	transition: var(--transition-timers);
    text-decoration: none !important;
    color: var(--primary-color) !important;
}

a:hover {
	color: var(--secondary-color) !important;
}