.particleSliderLabel {
    transition: var(--transition-timers);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    white-space: nowrap;
}

.particleSliderLabel.disabled {
    color: var(--disabled-color);
}

